@import url(./__content/popup__content.css);
@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__first-line/popup__first-line.css);
@import url(./__second-line/popup__second-line.css);
@import url(./__savebutton/popup__savebutton.css);
@import url(./__crossbutton/popup__crossbutton.css);
@import url(./__crossbutton/_image/popup__crossbutton_image.css);
@import url(./__contentforimage/popup__contentforimage.css);
@import url(./__containerforimage/popup__containerforimage.css);
@import url(./__image/popup__image.css);
@import url(./__titleimage/popup__titleimage.css);
@import url(./_type/_add/popup_type_add.css);
@import url(./_type/_edit/popup_type_edit.css);
@import url(./_type/_image/popup_type_image.css);


.popup{
    width: 100%;
    min-height: 100%;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
