@import url(./__cont/popup__cont.css);
@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__firstline/popup__firstline.css);
@import url(./__secondline/popup__secondline.css);
@import url(./__line/popup__line.css);
@import url(./__savebutton/popup__savebutton.css);
@import url(./__closebutton/popup__closebutton.css);
@import url(./__closeimage/popup__closeimage.css);
@import url(./__cont3/popup__cont3.css);
@import url(./__container3/popup__container3.css);
@import url(./__image/popup__image.css);
@import url(./__titleimage/popup__titleimage.css);


.popup{
    width: 100%;
    min-height: 100%;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
