.element__deletetop{
    background-image: url("../../../images/deletetop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 4.5px;
    margin: auto;
    margin-bottom: 1.5px;
}