.profile__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 120px;
    position: relative;
    text-align: left;
}

@media (min-width : 320px) and (max-width : 869px) {
    .profile__info{
        margin-right: 0;
        min-height:  calc(38px + 28px);
        margin-top: 12px;
        text-align: center;
    }
}