.popup__input-error{
    width: 83.255%;
    height: 27.26px;
    border: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: red;
    margin: 0;
    margin-left: 36px;
    margin-top: 5px;
    visibility: hidden;
}

@media (min-width : 320px) and (max-width : 869px) {
    .popup__input-error{
        font-size: 12px;
        line-height: 15px;
        margin-left: 20px;
    }
}