.popup__input{
    width: 83.255%;
    height: 27.26px;
    border: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    margin-left: 36px;
    margin-top: 10px;
    border-bottom: 1px solid #a0a0a0;
}

@media (min-width : 320px) and (max-width : 869px) {
    .popup__input{
        font-size: 12px;
        line-height: 15px;
        margin-left: 20px;
        margin-top: 7px;
    }
}