.element__delete{
    background: none;
    border: 0px ;
    padding: 0;
    margin: auto 0; 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18px;
    right: 15px;
    }
    
.element__delete:hover{
    opacity: 0.6;
    cursor: pointer;
    }
    