@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__author/profile__author.css);
@import url(./__profession/profile__profession.css);
@import url(./__addbutton/profile__addbutton.css);
@import url(./__editbutton/profile__editbutton.css);

.profile {
    width: 68.90625%;
    margin: auto;
    padding-bottom: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width : 870px) and (max-width : 1280px) {
    .profile{
        margin: auto 15%;
    }
}

@media (min-width : 320px) and (max-width : 869px) {
    .profile{
        width: 88.125%;
        padding-bottom: 48px;
        flex-direction: column;
        align-items: center;
    }
}