@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);

.profile {
    width: 68.90625%;
    margin: auto;
    padding-bottom: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media (min-width : 320px) and (max-width : 767px) {
    .profile{
        width: 88.125%;
        padding-bottom: 48px;
        flex-direction: column;
        align-items: center;
    }
}