@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__author/profile__author.css);
@import url(./__profession/profile__profession.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__add-button/_image/profile__add-button_image.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__edit-button/_image/profile__edit-button_image.css);


.profile {
    width: 68.90625%;
    margin: auto;
    padding-top: 36.25px;
    padding-bottom: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width : 870px) and (max-width : 1280px) {
    .profile{
        margin: auto 15%;
    }
}

@media (min-width : 320px) and (max-width : 869px) {
    .profile{
        width: 88.125%;
        padding-bottom: 48px;
        flex-direction: column;
        align-items: center;
    }
}