.popup__content{
    width: 471px;
    height: 371px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    cursor: default;
    pointer-events: auto;
}



@media (min-width : 320px) and (max-width : 869px) {
    .popup__content{
        width: 281px;
        height: 299px;
    }
}