.profile__profession{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;  
    white-space: nowrap;  
    overflow: hidden;
    max-width: 325px;
}

@media (min-width : 870px) and (max-width : 1280px) {
    .profile__profession{
        width: 310px;
        font-size: 16px;
        line-height: 20px;   
        margin-left: 5%;
    }
}

@media (min-width : 320px) and (max-width : 869px) {
    .profile__profession{
        font-size: 14px;
        line-height: 17px;
        max-width: 210px;
    }
}