.popup__cont{
    width: 471px;
    height: 371px;
    display: flex;
    flex-direction: column;
}

@media (min-width : 320px) and (max-width : 869px) {
    .popup__cont{
        width: 240px;
        height: 258px;
    }
}