@import url(./__line/header__line.css);

.header {
    width: 68.90625%;
    min-height: 74px;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 36.25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width : 768px) and (max-width : 1280px) {
    .header{
        width: 68.90625%;
        margin: auto 15%;
    }
}
@media (min-width : 320px) and (max-width : 767px) {
    .header{
        width: 83.125%;
        padding-bottom: 38px;
        padding-top: 28px;
        margin-left: 27px;
        margin: auto;
    }
}