
.elements{
    width: 68.90625%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 18px 20px; 
    padding-bottom: 66px;
} 
@media (min-width : 870px) and (max-width : 1279px) {
    .elements{
        width: 68.90625%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (min-width : 220px) and (max-width : 869px) {
    .elements{
        grid-template-columns: 1fr;
        grid-template-rows:repeat(6, 1fr);
        grid-gap: 12px;
        width: 88.125%;
        padding-bottom: 48px;
        align-items: center;
    }
}