@import url(./__copyright/footer__copyright.css);

.footer{
    padding-bottom: 60px;
    width: 68.90625%;
    margin: auto;
}

@media (min-width : 320px) and (max-width : 869px) {
    .footer{
        width: 88.125%;
    }
}