.author{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
}

@media (min-width : 320px) and (max-width : 767px) {
    .author{
        font-size: 27px;
    }
}