.popup__savebutton{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    width: 358px;
    height: 50.15px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
    border: black 0px;
    margin: 0 auto;
    margin-top: 48px;
}

.popup__savebutton:hover{
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media (min-width : 320px) and (max-width : 869px) {
    .popup__savebutton{
        width: 200px;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 36px;
        margin-bottom: 20px;
    }
}