.popup__profession{
    width: 83.255%;
    height: 27.26px;
    border: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    margin-left: 36px;
    margin-top: 30px;
}