.profile__addbutton{
    width: 150px;
    height: 50px;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    align-self: center;
}

.profile__addbutton:hover{
    opacity: 0.6;
    border: 2px solid rgba(255, 255, 255, 0.6);
}


@media (min-width : 320px) and (max-width : 767px) {
    .profile__addbutton{
        margin-top: 36px;
        width: 100%;
    }
}