.popup__crossbutton_image{
    background-image: url("../../../../images/closeimage.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width : 320px) and (max-width : 869px) {
    .popup__crossbutton_image{
        background-image: url("../../../../images/closeimagemini.svg");
    }
}