.profile__info{
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 120px;
    position: relative;

}

@media (min-width : 320px) and (max-width : 767px) {
    .profile__info{
        margin-right: 0;
        min-height:  calc(38px + 28px);
        margin-top: 12px;
        text-align: center;
    }
}