@import url(./__image/element__image.css);
@import url(./__title/element__title.css);
@import url(./__text/element__text.css);
@import url(./__group/element__group.css);
@import url(./__like/element__like.css);
@import url(./__like/_white/element__like_white.css);
@import url(./__like/_black/element__like_black.css);
@import url(./__delete/element__delete.css);
@import url(./__delete/_image/element__delete_image.css);

.element{
    width: 282px;
    height: 361px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    padding: 0;
}


@media (min-width : 870px) and (max-width : 1280px) {
    .element{
    max-height: 361px;
    margin: auto;
    }
}

@media (min-width : 220px) and (max-width : 869px) {
    .element{
       margin: auto;
    }
}