@import url(./__image/element__image.css);
@import url(./__title/elemet__title.css);
@import url(./__group/element__group.css);

.element{
    width: 100%;
    min-height: 361px;
    background: #FFFFFF;
    border-radius: 10px;
}
