.popup__closeimage{
    background-image: url("../../../images/closeimage.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 45.7px;
    height: 45.7px;
    margin: auto;
}

@media (min-width : 320px) and (max-width : 869px) {
    .popup__closeimage{
        width: 36.7px;
        height: 36.7px;
    }
}