.profile__editbutton{
    background-color: #000000;
    height: 24px;
    width: 24px;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 40px;
    left: 320px;
    align-self: center;
}

.profile__editbutton:hover{
    opacity: 0.6;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

@media (min-width : 870px) and (max-width : 1280px) {
    .profile__editbutton{
        top: 40px;
        left: 323px;
    }
}


@media (min-width : 320px) and (max-width : 869px) {
    .profile__editbutton{
        top: 17px;
        height: 22px;
        width: 22px;
        left: 213px;
    }
}