.profile__editbutton{
    background-color: #000000;
    height: 24px;
    width: 24px;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 38px;
    left: 312px;
    align-self: center;
}

.profile__editbutton:hover{
    opacity: 0.6;
    border: 1px solid rgba(255, 255, 255, 0.6);
}


@media (min-width : 768px) and (max-width : 1280px) {
    .profile__editbutton{
        top: 38px;
        left: 212px;
    }
}


@media (min-width : 320px) and (max-width : 767px) {
    .profile__editbutton{
        top: 19px;
        height: 22px;
        width: 22px;
        left: 194px;
    }
}