.popup__closebutton{
    height: 57,6px;
    width: 57,6px;
    align-self: flex-end;
    background: none;
    border: 0px ;
    padding: 0;
}

.popup__closebutton:hover{
    opacity: 0.6;
    cursor: pointer;
}