.popup__closebutton{
    height: 57,6px;
    width: 57,6px;
    align-self: flex-end;
    background: none;
    border: 0px ;
    padding: 0;
}

.popup__closebutton:hover{
    opacity: 0.6;
    cursor: pointer;
}



@media (min-width : 320px) and (max-width : 869px) {
    .popup__closebutton{
        width: 45,6px;
        height: 45,6px;
    }
}