.popup__closebutton{
    height: 50px;
    width: 50px;
    align-self: flex-end;
    border: 0px ;
    padding: 0;
    background: none;
}

.popup__closebutton:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media (min-width : 320px) and (max-width : 869px) {
    .popup__closebutton{
        width: 38.6px;
        height: 38.6px;
    }
}